:root{

    --mdc-typography-font-family: unquote("Poppins, sans-serif");


    /* Shape
    // The shapes of small, medium, and large components can be themed by overriding the default values. We recommend using our shape customization tool to help you pick your radius values. https://material.io/design/shape/about-shape.html#shape-customization-tool
    */
    --mdc-shape-small-component-radius: 20px;
    --mdc-shape-medium-component-radius: 20px;
    --mdc-shape-large-component-radius: 20px;


    /* Color
    // To change your theme's color scheme, replace the existing HEX color values with custom HEX color values. Use our color palette generator to help come up with pairings and check your color contrast. https://material.io/design/color/the-color-system.html#tools-for-picking-colors

    // Primary colors (--mdc-theme-primary) map to components such as app bars and buttons, while secondary colors (--mdc-theme-secondary) are used as accents on components such as FABs and selection controls.
    */
    --mdc-theme-primary: #109CF1;
    --mdc-theme-secondary: #A70042;

    /*
    // Theme background (--mdc-theme-background) appears behind scrollable content. Surface color (--mdc-theme-surface) is mapped to the surface of components such as cards, sheets, and menus. Error color (--mdc-theme-error) is used to indicate an error state for components such as text fields provided with inaccurate input.
    */
    --mdc-theme-surface: #ffffff;
    /*
    // --mdc-theme-background: #ffffff;
    // --mdc-theme-error: #b00020;


    // “On-” colors define how text, icons, and strokes are colored in relation to the surface on which they appear. If you are updating these manually, be sure to consider accessible color contrast for the value pairs.
    */
    --mdc-theme-on-primary: #ffffff;
    /*
    // --mdc-theme-on-secondary: #ffffff;
    // --mdc-theme-on-error: #ffffff;
    // --mdc-theme-on-surface: #000000;
    */


    --color-action: #0588B7;
    --color-error: red;

    --color-primary: #192A3E;
    --color-secondary: #707683;
    --color-tertiary: rgba(51, 77, 99, 0.5);

    --color-hover: #169bca;
    --color-active: #0677a4;
    --color-selected: #829EC4;

    --typography-font-family: "Poppins";

    --typography-small-8-regular-font-size: 8px;
    --typography-small-9-regular-font-size: 9px;
    --typography-small-10-regular-font-size: 10px;
    --typography-really-small-regular-font-size: 11px;
    --typography-small-regular-font-size: 13px;
    --typography-body-regular-font-size: 14px;
    --typography-subtitle-semibold-font-size: 16px;
    --typography-title-1-semibold-font-size: 24px;

    --typography-font-weight-ultralight: 100;
    --typography-font-weight-light: 300;
    --typography-font-weight-regular: 400;
    --typography-font-weight-medium: 500;
    --typography-font-weight-bold: 600;
    --typography-font-weight-700: 700;
    --typography-font-weight-800: 800;
    --typography-font-weight-900: 900;

    --layout-top-bar-height: 100;
    --layout-top-bar-height: 100;
}

.color-tertiary {
    color: var(--color-tertiary);
}

#inner_content {
    padding: 8px

}
#footer_content{
    height: 600px;
}
#drawer {
    padding: 8px;
}

body {
    font-family: var(--typography-font-family);
    font-size: var(--typography-body-regular-font-size);
    font-weight: var(--typography-font-weight-regular);
    padding: 0px;
    margin: 0;

    color: var(--color-primary);
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

hr{
    border-color: #EBEFF2;
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
i {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;

    cursor: pointer;
    color: #C2CFE0;

}

a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--color-hover);
    text-decoration: inherit;
}
a:active {
    color: var(--color-active);
    text-decoration: inherit;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {


    font-weight: var(--typography-font-weight-900);
    line-height: 1.5384615385;
    letter-spacing: 0.01em;
    margin-top: 1.5384615385rem;
    margin-bottom: 1.5384615385rem;
}

.ultralight{
    font-weight: var(--typography-font-weight-ultralight);
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

table {
    font-family: var(--typography-font-family);
    font-size: var(--typography-small-regular-font-size);
    font-weight: var(--typography-font-weight-regular);
    border-collapse: collapse;
}

th {
    color: var(--color-tertiary);
    font-weight: var(--typography-font-weight-normal);
    font-size: var(--typography-small-regular-font-size);
    text-transform: uppercase;
}

tr {
    color: var(--color-secondary);
    border-bottom: 1px solid #EBEFF2;
    height: 40px;
}

tr.modified {
    color: var(--color-secondary);
    border-bottom: 1px solid #9e9fa0;
    height: 40px;
}

td.archived {
    text-decoration: line-through;
}

td.modified {
    background-color: #f0f0f0;
}

td.primary {
    width: 25%;
    color: var(--color-primary);
}
td.secundary {
    color: var(--color-primary);
    font-weight: var(--typography-font-weight-bold);
}

td.number{
    text-align: right;
}

td > span{
    color: var(--color-tertiary);
    font-weight: var(--typography-font-weight-light);
    font-size: var(--typography-small-small-font-size);
}


.table-header {
    color: var(--color-tertiary);
    font-weight: var(--typography-font-weight-normal);
    font-size: var(--typography-small-regular-font-size);
    text-transform: uppercase;
}
.table-row {

    color: var(--color-secondary);
    border-bottom: 1px solid #EBEFF2;
    min-height: 40px;
    font-family: var(--typography-font-family);
    font-size: var(--typography-small-regular-font-size);
    font-weight: var(--typography-font-weight-bold);
    border-collapse: collapse;
}

.table-row.primary {

    color: var(--color-primary);
    font-weight: var(--typography-font-weight-bold);

}

a.item-link {
    align-items: center;
    display: flex;
    white-space: nowrap;
    color: #323C47;
}
a.item-link:hover{
    color: #109CF1;
}

a.menu-link{
    align-items: center;
    display: flex;
}

.field-container {
    position: relative;
    margin-bottom: 20px;
}

label {
    /* Position the label */
    left: 0px;
    position: absolute;
    top: 0;

    /* Hide it by default */
    /*opacity: 0;*/
    transition: 'all 200ms';
    font-weight: 300;
    font-size: var(--typography-small-regular-font-size);
    color: var(--color-tertiary);
}

label.field-mandatory{
    color: var(--color-primary);
}

input:not([type=submit]){
    width:99%;
    border: none;
    font-size: var(--typography-body-regular-font-size);
    outline: none;
    border-bottom: 1px solid #EBEFF2;

}
input[type=checkbox]{
    width:99%;
    border: none;
    font-size: var(--typography-body-regular-font-size);
    outline: none;
    height: 16px;
    margin-top: 24px;
}
input:disabled{
    border-bottom: none;
}
input[type=text]:focus{
    border-bottom: 1px solid #999;
}


/* Show the label at desired position when the placeholder of input isn't shown */
label + input:not(:placeholder-shown) {
    background: inherit;
    transform: translate(0, 110%);
    opacity: 1;

}
label + div:not(:placeholder-shown) {
    background: inherit;
    transform: translate(0, 110%);
    opacity: 1;

}
label + select:not(:placeholder-shown) {
    background: inherit;
    transform: translate(0, 110%);
    opacity: 1;
}
span.invalid-feedback{
    font-weight: 300;
    font-size: var(--typography-really-small-regular-font-size);
    color: var(--color-error);
    margin-top: 1rem;
    left: 0px;
    /* position: absolute; */
    top: 1.5rem;
}


mwc-icon {
    color: var(--mdc-theme-primary);
    --mdc-icon-size: 18px;
  }

.cell {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}  
