/* This file is for your main application css. */
@charset "UTF-8";

@import "./app.css";
@import "./layout.css";
@import "./style-guide.css";

body{
    --mdc-shape-small: 20px;
    --mdc-shape-medium: 20px;
    --mdc-shape-large: 20px;
}

.menu-row {
    color: var(--color-secondary);
    height: 40px;
    font-family: var(--typography-font-family);
    font-size: var(--typography-small-regular-font-size);
    font-weight: var(--typography-font-weight-regular);
    border-collapse: collapse;

}

.half-row{
    height: 20px;
}

mwc-top-app-bar-fixed {
    --mdc-theme-primary: rgba(255,255,255,0.5);
    --mdc-theme-on-primary: var(--color-action);
    margin-top: -8px;
    margin-left: -8px;
  }

.top-line {
    border-top: 1px solid #EBEFF2;
}
.top-line.order {
    border-top: 1px solid var(--color-selected);;
}

.primary {

    color: var(--color-primary);
    font-weight: var(--typography-font-weight-bold);
}
.secondary {
    color: var(--color-secondary);
    font-weight: var(--typography-font-weight-light);
    font-size: var(--typography-small-regular-font-size);
}

.order {
    color: var(--color-selected);
}
.order > a {
    color: var(--color-selected);
    font-weight: var(--typography-font-weight-bold);
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 1;
    }
    50% { 
        opacity: 0.5;
    }
    100% { 
        opacity: 1;
    }
}


.tag {
    font-size: var(--typography-small-9-regular-font-size);
    border-radius: 20px;
    /* border: 1px solid #EBEFF2; */
    /* padding: 4px; */
    /* height: 19px; */
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.open{
    /* color: #4C5454; */
    color: #C73866;
}

.ordered{
    /* color: #F52100; */
    color: #FE676E;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

.in_progress{
    color: #FD8F52; 
    /* color: #FF6047;  */
}

.ready{
    /* color: #FFA799;  */
    color: #FFBD71; 
}

.delivered{
    /* color: #74E7D7; */
    color: #FFDCA2;
}

.finished{
    /* color: #1EA896; */
    color: #1EA896;
}


.open-line{
    height: 2px;
    background-color: #C73866;
}

.ordered-line{
    height: 2px;
    background-color: #FE676E;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    

}

.in_progress-line{
    height: 2px;
    background-color: #FD8F52; 
}

.ready-line{
    height: 2px;
    background-color: #FFBD71; 
}

.delivered-line{
    height: 2px;
    background-color: #FFDCA2;
}

.finished-line{
    height: 2px;
    background-color: #1EA896;
}

/* .tags-band-primary{
    height: 40px;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
} */

.tag-selected{
    border-bottom: 1px solid var(--mdc-theme-primary);
}


.kitchen-order{
    padding: 1rem;
    border: 1px solid lightgray;
}

.background{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1px);
}

#message-textbox{
    width: 100%;
    border: none;
    font-size: var(--typography-body-regular-font-size);
    outline: none;
    border-bottom: 1px solid #EBEFF2;
}

.user{
    background-color: beige;
    border-radius: 12px;
    padding-right: 4px;
    font-size: var(--typography-really-small-regular-font-size);
    padding-left: 4px;
}

.link-one{    
    background-color: whitesmoke;
    border-radius: 12px;
    padding-right: 4px;
    font-size: var(--typography-really-small-regular-font-size);
    padding-left: 4px;
    color: var(--color-primary)
}







.tags-band-container{
    height: 108px;
    width: 100%;
    overflow-x: scroll;
}
.tags-band{
    height: 100px;
    display:grid;
    grid-auto-flow: column;
    grid-column-gap: 0px;
}


.tags-band-name{
    padding-top: 8px;
    font-size: var(--typography-small-10-regular-font-size);

    width: 60px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.letter-circle {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 0.5px dotted var(--mdc-theme-primary);
}
